beautifulsoup4==4.14.3
pyexiv2
gunicorn
honcho

git+https://github.com/IvanJelicSF/superdesk-core.git@crops-orientation#egg=superdesk-core
git+https://github.com/superdesk/superdesk-planning.git@release/2.10#egg=superdesk-planning
