beautifulsoup4==4.5.3
gunicorn
honcho

git+https://github.com/superdesk/superdesk-core.git@hotfix/2.6.7#egg=superdesk-core
git+https://github.com/superdesk/superdesk-planning.git@v2.6.2#egg=superdesk-planning
